@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	/* need this line to 
					tell body to fill viewport */
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	color: #4A73FF;
}

header {
	text-align: center;
	padding: 25px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

header {
	flex-direction: column;
	align-items: center;
	flex: 1 0 auto;
}

header div h4 {
	font-size: 22px;
	font-weight: 400;
	color: #000000;
	width: 100%;
	text-align: left;
	margin: 0 0 10px 0;
}

header > div {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 0 5px;
	flex-wrap: wrap;
	margin-left: 0;
}

header div > div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

header div > div:last-of-type {
	margin-right: 0px;
}

header div div label {
	padding: 0 10px;
}

header div input, h1 {
	height: 50px;
	
}

header div input {
	width: 100%;
	padding-left: 5px;
}

header button {
	margin-top: 15px;
}

h1 {
	width: 165px;
	flex-grow: 0;
	font-size: 30px;
	font-weight: light;
	margin-right: 10px;
	align-self: flex-start;
}

main {
	flex: 1 0 auto;
	/* the sticky footer trick without the footer */
	background-color: #EDEDED;
}

input {
	border-style: solid;
	border-radius: 5px;
	font-size: medium;
}

p {
	font-size: medium;
	margin-right: 5px;
}

#popup {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);

	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#popup section {
	background-color: #CCCCCC;
}
 
#popup button:first-of-type {
	align-self: flex-end;
}

#popup div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#popup div button:first-of-type {
	align-self: center;
}

#tiles {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

#popup div section, #tiles section {
	display: flex;
	flex-direction: row;
	width: 350px;
	height: 300px;
	background-color: #FFFFFF;
	padding: 10px 10px;
}

#tiles section {
	margin-left: 25px;
	margin-top: 25px;
}

#popup div section img, #tiles section img {
	align-self: center;	
	width: 150px;
}

#popup div section div, #tiles section div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 10px;
	padding-top: 10px;
	overflow-y: hidden;
	width: 100%;
	justify-content: flex-start;
}

#popup > #noresult {
	display: flex;
	flex-direction: column;
}

#popup > #noresult > p {
	color: #FFFFFF;
	font-size: 22px;
	margin-bottom: 50px;
	max-width: 60%;
	text-align: center;
	line-height: 1.5;
}

#tiles section div button {
	color: #000000;
	width: auto;
	height: auto;
	align-self: flex-end;
	font-size: 25px;
}

.hidden {
	display: none;
}

button {
	background-color: rgba(255,255,255, 0);
	height: 50px;
	width: 100px;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
	color: #FFFFFF;
	padding: 0;
	font-weight: 700;
}

#popupLeft, #popupRight, #popupClose {
	font-size: 35px;
	margin: 10px;
}

#popupClose {
	border: 0px;
	width: 50px;
	height: 50px;
	margin-right: 30px;
}

#keep, header button, #ok {
	background-color: #4A73FF;
	border: 0px;
}

h2, h3, p {
	color: #000000;
}

h2 {
	margin-top: 0;
	font-weight: 700;
	margin-bottom: 5px;
}

h3, p {
	font-weight: 400;
	margin: 0;
	margin-bottom: 7px;
}

@media only screen and (max-width: 665px) {
	/* use for mobile */
}